@import url(https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap);
body {
  margin: 0;
  padding: 0;
}

.header__burger {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1081px) {
  .content__5__items__row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (max-width: 997px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .header__row__menu {
    position: fixed;
    top: -105%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__row__menu a {
    display: block;
    text-align: center;
    font-size: 30px !important;
  }
  .header__row__menu.active {
    top: 100px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    bottom: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::after {
    top: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger {
    cursor: pointer;
    margin: 15px 20px 0 0;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger::after, .header__burger::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
  .header__burger::before {
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    top: 9px;
  }
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-color: #87509c;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.header__row__logo {
  margin-left: 60px;
}

.header__row__menu {
  margin-right: 43px;
  margin-top: 12px;
}

.header__row__menu a {
  text-decoration: none;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  padding: 8px 16px;
}

.header__row__menu a:hover {
  background-color: #643a79;
  opacity: 0.5;
  z-index: 2;
  border-radius: 5px;
}

.header__row__menu .active {
  border-radius: 3px;
  background-color: #643a79;
}

.content__1 {
  background-color: #87509c;
}

.content__1 .content__1__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__1__title {
  max-width: 910px;
  margin-top: 140px;
}

.content__1__title p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  line-height: 49px;
  color: #fff;
  font-size: calc(28px + 10 * ((100vw - 320px) / 850));
}

.content__1__btn {
  margin: 60px 0 145px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #eb7d4b;
  border-radius: 5px;
  position: relative;
}

.content__1__btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #c86a40;
  border-radius: 0 0 5px 5px;
}

.content__1__btn p {
  margin: 1em 4em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  color: #fff;
}

.content__2 {
  background-color: #17c2a4;
}

.content__2__items {
  padding: 115px 0 125px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__2__items__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__2__items__text__title {
  position: relative;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: calc(24px + 8 * ((100vw - 320px) / 850));
  color: #fff;
  text-align: center;
}

.content__2__items__text__title:after {
  content: '';
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  top: 70px;
  width: 85px;
  height: 4px;
  background-color: #14a58c;
}

.content__2__items__text__p {
  max-width: 630px;
  font-family: 'Titillium Web', sans-serif;
  font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.content__2__items__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content__2__items__row__item {
  margin-top: 75px;
  max-width: 200px;
}

.content__2__items__row__item__img {
  text-align: center;
  max-height: 124px;
}

.content__2__items__row__item__title {
  margin-top: 55px;
  text-align: center;
}

.content__2__items__row__item__title span {
  text-transform: uppercase;
  font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  color: #fff;
}

.content__2__items__row__item__text {
  text-align: center;
}

.content__2__items__row__item__text p {
  font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}

.content__3 {
  background-color: #e7f1f8;
}

.content__3 .content__3__items__text__title::after {
  background-color: #c8d9e5;
}

.content__3 span {
  color: #3c4761;
}

.content__3 .content__3__items__row__item__title {
  margin-top: 110px;
}

.content__3 .content__3__items__row__item__text p {
  color: #47526b;
}

.content__3 .content__3__items__row__item__subtitle {
  margin-top: 5px;
}

.content__3 .content__3__items__row__item__subtitle span {
  font-size: calc(13px + 3 * ((100vw - 320px) / 850));
  color: #30bae7;
}

.content__4 {
  background-color: #fff;
}

.content__4 .content__4__items__text__title::after {
  background-color: #dfe8ed;
}

.content__4 span {
  color: #3c4761;
}

.content__5 {
  background-color: #ffdd99;
}

.content__5 .content__2__items__row {
  margin: 0;
}

.content__5 .content-5__row__menu {
  margin: 50px auto 0 auto;
  max-width: 380px;
}

.content__5 .content-5__row__menu a {
  color: #393939;
  background-color: #ebc985;
  border-radius: 5px;
  padding: 10px 25px;
  margin-left: 5px;
}

.content__5 .content-5__row__menu a:first-child {
  margin: 0;
}

.content__5 .content-5__row__menu a:hover {
  background-color: #fff;
}

.content__5 .content__5__items__row__item__title span {
  font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  color: #393939;
  font-weight: normal;
}

.content__5 .content__5__items__row__item__img {
  max-height: none;
}

.content__5 .content__5__items__row__item__img img {
  width: 100%;
  height: 100%;
}

.content__5 .content__5__items__row__item {
  max-width: none;
}

.content__5 .content__5__items__row__item__title {
  margin-top: 25px;
}

.content__5 .content__5__items__text__title::after {
  background-color: #e5c37f;
}

.content__5 .content__5__items__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__5 span {
  color: #393939;
}

.content__5 .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 85px;
}

.content__5 .content__5__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 25px 60px;
  background-color: #17c2a4;
  position: relative;
  color: #fff;
  font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  font-weight: 500;
  border-radius: 5px;
  position: relative;
}

.content__5 .content__5__btn::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #14a58c;
}

.content__6 {
  background-color: #d74680;
}

.content__6 .content__6__items__text__title::after {
  background-color: #b73c6d;
}

.content__6 .content__6__items__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__6 .content__6__items__row__item:last-child {
  margin-right: 140px;
}

.content__6 .content__6__items__row__item {
  margin-left: 240px;
}

.content__6 .content__6__items__row__item__text {
  position: relative;
  font-size: calc(18px + 3 * ((100vw - 320px) / 850));
  color: #fff;
  font-style: italic;
  text-align: left;
}

.content__6 .content__6__items__row__item__text p {
  min-width: 340px;
}

.content__6 .content__6__items__row__item__text::before {
  content: '';
  position: absolute;
  left: -140px;
  top: 0;
  background-color: #878787;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.content__6 .content__6__items__row__item__title {
  margin: 0;
  text-align: left;
}

.content__6 .content__6__items__row__item__subtitle {
  margin: 0;
  text-align: left;
}

.content__6 .content__6__items__row__item__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  color: #ffdd99;
}

.content__7 {
  background-color: #3c5499;
}

.content__7 .content__7__items__text__p {
  max-width: none;
}

.content__7 .content__7__items__text__title::after {
  background-color: #273a71;
}

.content__7 .content__7__items__row {
  margin-top: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__7 .content__7__items__row input, .content__7 .content__7__items__row textarea {
  padding: 0 22px 0 22px;
  font-size: 18px;
  color: #fff;
  margin: 0 12px 0 0;
  background-color: #273a71;
  min-height: 55px;
  min-width: 410px;
  border: none;
  border-radius: 5px;
}

.content__7 .content__7__items__row input:focus, .content__7 .content__7__items__row textarea:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content__7 .content__7__items__row input:last-child {
  margin: 0 0 0 12px;
}

.content__7 .content__7__items__row textarea {
  padding-top: 20px;
  margin: 0;
  min-width: 888px;
  max-width: 888px;
  min-height: 200px;
}

.content__7 .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 58px;
}

.content__7 .button-wrapper .content__7__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 25px 60px;
  background-color: #30bae7;
  position: relative;
  color: #fff;
  font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  font-weight: 500;
  border-radius: 5px;
  position: relative;
  border: none;
}

.content__7 .button-wrapper .content__7__btn::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #299ec5;
}

.content__7 .textarea {
  margin-top: 25px;
}

footer {
  background-color: #344b8e;
}

footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-row a {
  color: #fff;
  padding: 42px 0;
  font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
}

footer .footer-row a:first-child {
  padding-left: 80px;
}

footer .footer-row a:last-child {
  padding-right: 80px;
}

footer .footer-row a:hover {
  color: #319ccf;
}
/*# sourceMappingURL=index.css.map */